@import "variables";

body {
  background-color: $dark;
}

#intro {
  img {
    max-width: 200px;
    max-height: 200px;
    border: 6px solid $light;
    border-radius: 100%;
    -moz-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 1);
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: $light;
  }

  p {
    font-size: .875rem;
    margin-bottom: 5px;
    color: $light;
  }

  .social {
    font-size: 1.25rem;
    padding: 0;
    list-style: none;

    li {
      display: inline;
      margin-right: 10px;
    }

    a {
      color: $light;
    }
  }
}