@import "_variables";
@import "home";


.scroll-down {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 0;
  width: 100%;

  .mouse-wrapper {
    font-size: 14px;
    display: block;
    max-width: 100px;
    margin: auto;
    text-align: center;
    color: #FFF;

    .mouse {
      position: relative;
      display: block;
      width: 20px;
      height: 26px;
      margin: auto;
      margin-top: 10px;
      border: solid 2px #FFF;
      border-radius: 16px;

      .mouse .wheel {
        position: absolute;
        top: 8px;
        left: 50%;
        display: block;
        width: 4px;
        height: 4px;
        transform: translateX(-50%);
        -moz-animation: ani-mouse 2s linear infinite;
        -webkit-animation: ani-mouse 2s linear infinite;
        animation: ani-mouse 2s linear infinite;
        border-radius: 100%;
        background: #FFFFFF;
      }
    }
  }
}