/** Global Colors **/
/** FONTS **/
/** Global Colors **/
/** FONTS **/
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-family: Oswald, sans-serif;
}

/** Global Colors **/
/** FONTS **/
body {
  background-color: #1c1c1c;
}

#intro img {
  border: 6px solid #ffffff;
  border-radius: 100%;
  -moz-box-shadow: 0 4px 16px 0 black;
  -webkit-box-shadow: 0 4px 16px 0 black;
  box-shadow: 0 4px 16px 0 black;
  max-height: 200px;
  max-width: 200px;
}

#intro h1 {
  color: #ffffff;
  font-size: 2.5rem;
  margin-bottom: 0;
  margin-top: 10px;
  text-transform: uppercase;
}

#intro p {
  color: #ffffff;
  font-size: .875rem;
  margin-bottom: 5px;
}

#intro .social {
  font-size: 1.25rem;
  list-style: none;
  padding: 0;
}

#intro .social li {
  display: inline;
  margin-right: 10px;
}

#intro .social a {
  color: #ffffff;
}

.scroll-down {
  bottom: 40px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.scroll-down .mouse-wrapper {
  color: #FFF;
  display: block;
  font-size: 14px;
  margin: auto;
  max-width: 100px;
  text-align: center;
}

.scroll-down .mouse-wrapper .mouse {
  border: solid 2px #FFF;
  border-radius: 16px;
  display: block;
  height: 26px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  width: 20px;
}

.scroll-down .mouse-wrapper .mouse .mouse .wheel {
  -moz-animation: ani-mouse 2s linear infinite;
  -webkit-animation: ani-mouse 2s linear infinite;
  animation: ani-mouse 2s linear infinite;
  background: #FFFFFF;
  border-radius: 100%;
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  top: 8px;
  transform: translateX(-50%);
  width: 4px;
}
